{% extends 'base.html.twig' %}

{% block title %}
  Nouvelle articles
{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center text-muted">Nouvel Article</h1>

    <div class="col-md-6 mx-auto">{{ form(newArticle) }}</div>
  </section>
{% endblock %}
