{% extends 'base.html.twig' %}

{% block title %}
  Modification de l'article
{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center text-muted">Modification</h1>

    <div class="col-md-6 mx-auto">{{ form(form) }}</div>
  </section>
{% endblock %}
